<p id="notice"><%= notice %></p>

<p>
  <b>Broker found:</b>
  <%= @team.broker_found %>
</p>

<p>
  <b>Broker id code:</b>
  <%= @team.broker_id_code %>
</p>

<p>
  <b>Broker cell:</b>
  <%= @team.broker_cell %>
</p>

<p>
  <b>Title insurance company found:</b>
  <%= @team.title_insurance_company_found %>
</p>

<p>
  <b>Title insurance company id code:</b>
  <%= @team.title_insurance_company_id_code %>
</p>

<p>
  <b>Title insurance company phone:</b>
  <%= @team.title_insurance_company_phone %>
</p>

<p>
  <b>Home inspector found:</b>
  <%= @team.home_inspector_found %>
</p>

<p>
  <b>Home inspector id code:</b>
  <%= @team.home_inspector_id_code %>
</p>

<p>
  <b>Home inspector cell:</b>
  <%= @team.home_inspector_cell %>
</p>

<p>
  <b>Private morgage insurance found:</b>
  <%= @team.private_morgage_insurance_found %>
</p>

<p>
  <b>Private morgage insurance id code:</b>
  <%= @team.private_morgage_insurance_id_code %>
</p>

<p>
  <b>Private morgage insurance phone:</b>
  <%= @team.private_morgage_insurance_phone %>
</p>

<p>
  <b>Home insurance found:</b>
  <%= @team.home_insurance_found %>
</p>

<p>
  <b>Home insurance id code:</b>
  <%= @team.home_insurance_id_code %>
</p>

<p>
  <b>Home insurance phone:</b>
  <%= @team.home_insurance_phone %>
</p>

<p>
  <b>Painter found:</b>
  <%= @team.painter_found %>
</p>

<p>
  <b>Painter id code:</b>
  <%= @team.painter_id_code %>
</p>

<p>
  <b>Painter cell:</b>
  <%= @team.painter_cell %>
</p>

<p>
  <b>Sound engineer found:</b>
  <%= @team.sound_engineer_found %>
</p>

<p>
  <b>Sound engineer id code:</b>
  <%= @team.sound_engineer_id_code %>
</p>

<p>
  <b>Sound engineer cell:</b>
  <%= @team.sound_engineer_cell %>
</p>

<p>
  <b>Lighting contractor found:</b>
  <%= @team.lighting_contractor_found %>
</p>

<p>
  <b>Lighting contractor id code:</b>
  <%= @team.lighting_contractor_id_code %>
</p>

<p>
  <b>Lighting contractor phone:</b>
  <%= @team.lighting_contractor_phone %>
</p>

<p>
  <b>Water system found:</b>
  <%= @team.water_system_found %>
</p>

<p>
  <b>Water system id code:</b>
  <%= @team.water_system_id_code %>
</p>

<p>
  <b>Water system phone:</b>
  <%= @team.water_system_phone %>
</p>

<p>
  <b>Electrician found:</b>
  <%= @team.electrician_found %>
</p>

<p>
  <b>Electrician id code:</b>
  <%= @team.electrician_id_code %>
</p>

<p>
  <b>Electrician cell:</b>
  <%= @team.electrician_cell %>
</p>

<p>
  <b>Hvac found:</b>
  <%= @team.hvac_found %>
</p>

<p>
  <b>Hvac id code:</b>
  <%= @team.hvac_id_code %>
</p>

<p>
  <b>Hvac cell:</b>
  <%= @team.hvac_cell %>
</p>

<p>
  <b>Trim found:</b>
  <%= @team.trim_found %>
</p>

<p>
  <b>Trim id code:</b>
  <%= @team.trim_id_code %>
</p>

<p>
  <b>Trim cell:</b>
  <%= @team.trim_cell %>
</p>

<p>
  <b>Kitchen and bath found:</b>
  <%= @team.kitchen_and_bath_found %>
</p>

<p>
  <b>Kitchen and bath id code:</b>
  <%= @team.kitchen_and_bath_id_code %>
</p>

<p>
  <b>Kitchen and bath cell:</b>
  <%= @team.kitchen_and_bath_cell %>
</p>

<p>
  <b>Flooring found:</b>
  <%= @team.flooring_found %>
</p>

<p>
  <b>Flooring id code:</b>
  <%= @team.flooring_id_code %>
</p>

<p>
  <b>Flooring phone:</b>
  <%= @team.flooring_phone %>
</p>

<p>
  <b>Water proofing found:</b>
  <%= @team.water_proofing_found %>
</p>

<p>
  <b>Water proofing id code:</b>
  <%= @team.water_proofing_id_code %>
</p>

<p>
  <b>Water proofing phone:</b>
  <%= @team.water_proofing_phone %>
</p>

<p>
  <b>Landscaping found:</b>
  <%= @team.landscaping_found %>
</p>

<p>
  <b>Landscaping id code:</b>
  <%= @team.landscaping_id_code %>
</p>

<p>
  <b>Landscaping cell:</b>
  <%= @team.landscaping_cell %>
</p>


<%= link_to 'Edit', edit_team_path(@team) %> |
<%= link_to 'Back', teams_path %>
