<!-- BEGIN PAGE-HEAD ####################-->

<div id="pageHead">

  <div id="title-area">

      <% if current_user.try(:admin?) %>
        <h2 class="alignCenter"><%= heading_text %></h2>
        <ul id="navAdminXXXX" >
          <li><%= link_to "Buyers", accounts_path %> </li>
          <li><%= link_to "Sellers", accounts_path %> </li>
          <li><%= link_to "Shortener", us_path %> </li>
          <li><%= link_to "Discounts", accounts_path %> </li>
          <li><%= link_to "Banks", "#" %> </li>
          <li><%= link_to "Title Insurance", "#" %> </li>
        </ul>
      <% end %>


    <div id="title-content">
      <% if ! current_user.try(:admin?) %>
        <h1><%= heading_text %></h1>
        <% end %>
    </div>

  </div>





</div>

<!-- END PAGE-HEAD ####################-->
