<!-- Carousel items -->
<!-- <div class="carousel-inner"> -->

<!--   <div class="item  active"> -->
<!--     <h3><%= t ".fe_bs_slider_1_brownstone", default: "So you want to buy a place of your own." %></h3> -->
<!--     <%= image_tag "brownstone06b.jpg", :title => "brownstone",  :align =>"left", :size => "150x300" %> -->
<!--   </div> -->

<!--   <div class="item"> -->
<!--     <h3><%= t ".fe_bs_slider_2", default: "You want the best deal possible but there are so many things to know about buying." %></h3> -->
<!--   </div> -->

<!--   <div class="item"> -->
<!--     <h3><%= t ".fe_bs_slider_3_teamwork", default: "You need a team on your side." %><%= image_tag "teamwork.jpeg", :title => "team", :size => "120x240" %></h3> -->
<!--   </div> -->

<!--   <div class="item"> -->
<!--     <h3><%= image_tag "FeeWiseLogo4.png", :title => "FeeWise", :size => "100x200" %><%= t ".fe_bs_slider_4_logo", default: " can help you through the process." %></h3> -->
<!--   </div> -->

<!--   <div class="item"> -->
<!--     <h3>FeeWise can help you get money back when you close.<%= image_tag "finance_piggy_bank_coins_lineart.png", :title => "piggy",  :align =>"right", :size => "75x150" %></h3> -->
<!--   </div> -->

<!--   <div class="item"> -->
<!--     <h3>We can help you get money back by pre-negotiating with brokers.<%= image_tag "chat_icon_clip_art_7491.jpg", :title => "chat",  :align =>"right", :size => "100x200" %><h3> -->
<!--   </div> -->

<!--   <div class="item"> -->
<!--     <h3>Get $1000 or more back on closing.</h3> -->
<!--     <%= image_tag "dollars.jpeg", :title => "dollars",  :align =>"right", :size => "150x300" %> -->
<!--   </div> -->

<!--   <div class="item"> -->
<!--     <h3>Start by signing up for our news letter.</h3> -->
<!--   </div> -->

<!--   <div class="item"> -->
<!--     <h3>When you are ready to take the plung click the buy button.</h3> -->
<!--   </div> -->
<!-- </div> -->

<!-- <div class="row"> -->
<!-- <div class="span3"> -->
<!--     <\!-- Carousel nav -\-> -->
<!--     <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a> -->
<!--     <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a> -->
<!-- </div> -->
<!-- </div> -->


<div id="myCarousel2" class="carousel slide">
  <!-- Carousel items -->
  <div class="carousel-inner fixed10">



  <div class="item  active">
    <h3><%= t ".fe_bs_slider_1_brownstone", default: "So you want to buy a place of your own." %></h3>
    <%= image_tag "brownstone06b.jpg", :title => "brownstone",  :align =>"left", :size => "150x300" %>

  </div>

  <div class="item">
    <h3><%= t ".fe_bs_slider_2", default: "You want the best deal possible but there are so many things to know about buying." %></h3>
  </div>

  <div class="item">
    <h3><%= t ".fe_bs_slider_3_teamwork", default: "You need a team on your side." %><%= image_tag "teamwork.jpeg", :title => "team", :size => "120x240" %></h3>
  </div>

  <div class="item">
    <h3><%= image_tag "FeeWiseLogo4.png", :title => "FeeWise", :size => "100x200" %><%= t ".fe_bs_slider_4_logo", default: " can help you through the process." %></h3>
  </div>

  <div class="item">
    <h3>FeeWISE can help you get money back when you close.<%= image_tag "finance_piggy_bank_coins_lineart.png", :title => "piggy",  :align =>"right", :size => "75x150" %></h3>
  </div>

  <div class="item">
    <h3>We can help you get money back by pre-negotiating with brokers.<%= image_tag "chat_icon_clip_art_7491.jpg", :title => "chat",  :align =>"right", :size => "100x200" %><h3>
  </div>

  <div class="item">
    <h3>Get $1000 or more back on closing.</h3>
    <%= image_tag "dollars.jpeg", :title => "dollars",  :align =>"right", :size => "150x300" %>
  </div>

  <div class="item">
    <h3>Start by signing up for our news letter.</h3>
  </div>

  <div class="item">
    <h3>When you are ready to take the plung click the buy button.</h3>
  </div>


  </div>
  <!-- Carousel nav -->
  <a class="carousel-control left" href="#myCarousel2" data-slide="prev">‹</a>
  <a class="carousel-control right" href="#myCarousel2" data-slide="next">›</a>
</div>
