<%= display_heading :heading_text => "Purchase Profile" %>
<h3><%= "Welcome #{current_user.full_name}" %></h3>

<%= render :partial => "static_pages/generic_sidebar" %>
<%= render :partial => "about_header" %>
<br /><br />

<%= render 'form' %>

<br />
* This offer is void where prohibited: AL, AK, IA, KS, LA, MS, MO, OK, OR and TN for both home sellers and buyers, and NJ for home sellers.
<br />
