<p id="notice"><%= notice %></p>

<p>
  <b>Body:</b>
  <%= @bulletin.body %>
</p>

<p>
  <b>Kind:</b>
  <%= @bulletin.kind %>
</p>

<p>
  <b>Hide:</b>
  <%= @bulletin.hide %>
</p>


<%= link_to 'Edit', edit_bulletin_path(@bulletin) %> |
<%= link_to 'Back', bulletins_path %>
