<p id="notice"><%= notice %></p>

<p>
  <b>Email:</b>
  <%= @card.email %>
</p>

<p>
  <b>Day phone:</b>
  <%= @card.day_phone %>
</p>

<p>
  <b>User:</b>
  <%= @card.user %>
</p>

<p>
  <b>Stripe card token:</b>
  <%= @card.stripe_card_token %>
</p>

<p>
  <b>Paid:</b>
  <%= @card.paid %>
</p>


<!-- < %= link_to 'Edit', edit_card_path(@card) %> | -->
<!-- < %= link_to 'Back', cards_path %> -->
