<%= form_for(@filter_analytic) do |f| %>
  <% if @filter_analytic.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@filter_analytic.errors.count, "error") %> prohibited this filter_analytic from being saved:</h2>

      <ul>
      <% @filter_analytic.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :password %><br />
    <%= f.text_field :password %>
  </div>
  <br />
  <div class="field">
    <%= f.label "unique identifier" %><br />
    <%= f.text_field :filter_name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
