    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-target=".nav-collapse" data-toggle="collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>

          <a class="brand" href="/">
            <span style="color:white;font-size: 2.6em">fee</span><span style="color:white;font-size: 2.4em">WISE</span> <br />
            <%= t ".fe_motto_secondary", default: "Buying a home? Be feeWISE and we pay you to buy." %>
          </a>
          <a class="brand nav pull-right" href="#">(917) 720-4242</a>
          <div class="nav-collapse">
            <ul class="nav pull-right" style="margin-top: -30px;">  <!-- kludge to make it look reasonable because I don't know TBS enough -->
              <!-- <li>< %= link_to "Home", homes_home_a_path %> </li> -->
              <li><%= link_to "Home", root_path %> </li>
              <li><%= link_to "How It Works", '/how_it_works' %> </li>
              <li><%= link_to "Why feeWISE", '/why_feewise' %></li>
              <li><%= link_to "About Us", '/about_us' -%></li>
              <li><%= link_to "Support / FAQ", '/support' %></li>
              <li class="dropdown" id="accountmenu">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">Contact Us<b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><%= link_to "Email Us", new_contact_feewise_path %> </li>
                  <li><%= link_to "Call Us (917-720-4242)", new_contact_feewise_path %> </li>
                  <li><%= link_to "Support / FAQ", '/support' %></li>
                </ul>
              </li>

              <% if current_user %>
                <li class="divider-vertical"></li>
                <li><%= link_to "My Account", account_path(current_user) %> </li>
                <li class="divider-vertical"></li>
                <li><%= link_to "Purchase Profile", edit_purchase_preference_path(current_user) %> </li>
                <li class="divider-vertical"></li>
                <li><%= link_to "Sign Out", destroy_user_session_path, :method => :delete  %> </li>

              <% else %>
                <li class="divider-vertical"></li>
                <li><%= link_to "Sign In", '/sign_in' %> </li>
                <li class="divider-vertical"></li>
                <li><%= link_to "Sign Up", '/sign_up' %> </li>

              <% end %>

            </ul>
          </div> <!-- .nav-collapse -->
        </div>
      </div>
    </div>

<!-- <header id="overview" class="jumbotron subhead"> -->
<!--   <div class="container"> -->
<!--     <h1>Base CSS</h1> -->
<!--     <p class="lead">Fundamental HTML elements styled and enhanced with extensible classes.</p> -->
<!--   </div> -->
<!-- </header> -->


    <div class="container">
      <div class="row">
        <div class="span12">
          &nbsp; <br /><br />
        </div>
        <div class="span8">
          <%= bootstrap_flash %>
          <%= yield_or :accordion, '' %>
          <%= yield %>
          <br /><br /><br /><br /><br />
        </div> <!-- .span9 -->

        <div class="span4">
          <div class='well'> <!-- -->
            <div class="row">
              <div class="span4 offset1">

                <!-- Top -->
                <%= t ".fe_rebate_participation_price", default: "<span style='color:green; font-size:3.0em; text-align:right;'>&nbsp;&nbsp;$99</span>" %>
              </div>
            </div>

          <!-- <div class='well'> -->
            <%= link_to 'BUY!', new_account_path, :class => "btn btn-warning btn-block btn-large whitelink" %>
            <div>  <!-- sidebar -->
              <%= t ".fe_generic_sidebar", default: "<h3>feeWISE Pledge</h3><p>If the experience using your feeWISE ever lets you down, we'll make it right or return your purchase. Simple as that.</p><br /><h3>We're Here for You</h3><p>If you want to talk to someone, call us at 917-720-4242. Also, check out our FAQ for answers to some questions.</p>" %>
              <%= link_to "Click to learn more on How It Works!", '/how_it_works' %>
            </div> <!-- .sidebar -->
          </div> <!-- .well -->

          <%= render :partial => "layouts/mailing_list_well" %>

        </div><!--/span-->
      </div><!--/row-->

      <footer>
        <p>&copy; feeWISE 2012</p>
      </footer>

    </div> <!-- /container -->

    <footer>
      <div class="navbar navbar-fixed-bottom">
        <p>&copy; feeWISE 2012</p>
        <div class="navbar-inner">
          <div class="container">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </a>
            <div class="nav-collapse">

              <ul class="nav">
                <li class="dropdown" id="accountmenu">
                  <a class="dropdown-toggle" data-toggle="dropdown" href="#">feeWISE<b class="caret"></b></a>
                  <ul class="dropdown-menu">
                    <li><a href="/">Home</a></li>
                    <li><%= link_to 'How It Works', '/how_it_works' %></li>
                    <li><%= link_to 'Why feeWISE', '/why_feewise' %></li>
                    <li><%= link_to 'Account / Sign In', '/sign_in' %></li>
                  </ul>
                </li>

                <li class="dropdown" id="accountmenu">
                  <a class="dropdown-toggle" data-toggle="dropdown" href="#">Company<b class="caret"></b></a>
                  <ul class="dropdown-menu">
                    <li><%= link_to "About Us", '/about_us' -%></li>
                    <li><%= link_to "Partners", '/partners' %></li>
                    <li><%= link_to "Investors", '/investors' %></li>
                    <li><%= link_to "Careers", '/careers' %></li>
                  </ul>
                </li>

                <li class="dropdown" id="accountmenu">
                  <a class="dropdown-toggle" data-toggle="dropdown" href="#">Contact Us<b class="caret"></b></a>
                  <ul class="dropdown-menu">
                    <li><%= link_to "Support / FAQ", '/support' %></li>
                    <li><%= link_to "Email Us", new_contact_feewise_path %> </li>
                    <li><%= link_to "Team", '/team' %></li>
                    <li><%= link_to "Call Us (917-720-4242)", new_contact_feewise_path %> </li>
                  </ul>
                </li>

                <li class="dropdown" id="accountmenu">
                  <a class="dropdown-toggle" data-toggle="dropdown" href="#">Legal<b class="caret"></b></a>
                  <ul class="dropdown-menu">
                    <li><a>Copyright &copy; 2012 feeWISE. All Rights Reserved.</a></li>
                    <li><%= link_to "Privacy Policy", '/privacy_policy' %>  <%= link_to "Terms of Use", '/terms_of_use' %></li>
                    <li><%= link_to "Equal Housing Opportunity", '/equal_housing_opportunity' %></li>
                  </ul>
                </li>

              </ul>

              <ul class="nav pull-right">
                <div class="row">
                  <div class="span4">
                    <%= link_to 'BUY!', new_account_path, :class => "btn btn-warning btn-block btn-large whitelink" %>
                  </div>
                </div>
            </ul>
          </div> <!-- .nav-collapse -->
        </div> <!-- .container -->
      </div> <!-- .navbar-inner -->
    </div> <!-- .navbar .navbar-fixed-bottom -->
      </footer>
    <!-- Javascripts
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <!-- < %= javascript_include_tag "https://js.stripe.com/v1/", "application" %>  --><!-- It does not make sense that stripe is needed but it seems to be for the moment --> <!-- Moved because It may be causing issues with stripe -->
