<div class="navbar navbar-fixed-bottom">
  <div class="navbar-inner">
    <a class="brand" href="#"></a>
    <ul class="nav">
      <li class="active"><a href="#">Home</a></li>


            <h3>feeWISE</h3>
            <!-- <ul> -->
              <li><a href="/">Home</a></li>
              <li><%= link_to 'How It Works', '/how_it_works' %></li>
              <li><%= link_to 'Why feeWISE', '/why_feewise' %></li>
              <li><%= link_to 'Account / Sign In', '/sign_in' %></li>
            <!-- </ul> -->



            <h3>Company</h3>
            <!-- <ul> -->
              <li><%= link_to "About Us", '/about_us' -%></li>
              <li><%= link_to "Partners", '/partners' %></li>
              <li><%= link_to "Investors", '/investors' %></li>
              <li><%= link_to "Careers", '/careers' %></li>
            <!-- </ul> -->



            <h3>Contact Us</h3>
            <!-- <ul> -->
              <li><%= link_to "Support / FAQ", '/support' %></li>
              <li><%= link_to "Email Us", new_contact_feewise_path %></li>
              <li><%= link_to "Team", '/team' %></li>
            <!-- </ul> -->


              <a href="http://www.facebook.com/feeWISE" target="_blank">
                <%= image_tag("sm-icon-facebook.jpg",  title: "Like us on Facebook", alt: "Facebook", class: "social-icons") %>
              </a>
              <a href="http://twitter.com/feewise" target="_blank">
                <%= image_tag("sm-icon-twitter.jpg",  title: "Follow us on Twitter", alt: "Twitter", class: "social-icons") %>
              </a>




            <!-- <ul> -->
              <li>Copyright &copy; 2012 feeWISE. All Rights Reserved.</li>
              <li><%= link_to "Privacy Policy", '/privacy_policy' %> &nbsp;|&nbsp; <%= link_to "Terms of Use", '/terms_of_use' %></li>
              <li><%= link_to "Equal Housing Opportunity", '/equal_housing_opportunity' %></li>
            <!-- </ul> -->

  </div>
</div>
